@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:80vw;
}
.inner {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
#userimg img{
    border-radius: 130px;
    border: 1px solid darkgrey;
}
.rotobo-text {
    font-family: 'Roboto', sans-serif;
}